@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;  
}

body {
    background-color: white;
}

h1,
h2,
h3,
h4,
p,
button,
a {
    color: rgb(228 228 231);
}


@layer utilities {
    .shimmer {
        mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
        animation: shimmer 2.5s infinite;
    }
  
    @keyframes shimmer {
        100% {
        mask-position: left
        }
    }
}
